#page-login {
  height: 100vh;

  background: url('../../assets/Login-bolinhas.png') no-repeat bottom;
}

.login-logo-container {
  margin-top: 5.40rem;
  justify-self: flex-start;
}

#page-login .content {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  margin: auto;
  padding: 0 30px;

  display: grid;
  grid-template-rows: 360px 1fr;
  grid-template-columns: 2.5fr 1fr;
  grid-template-areas: "logo form" ;
}

.login-logo-container {
  grid-area: logo;
}

.login-form{
  grid-area: form;
}

.login-form {
  margin: 5.40em 0 0 0;
}

#page-login .form-header #arrow svg {
  font-size: 2.5em;
  margin-right: 1em;
}

.form-header {
  display: flex;
  justify-content: flex-start;
}

#page-login form {
  display: flex;
  flex-direction: column;
}

#page-login form h1 {
  font-size: 36px;
}

#page-login form fieldset {
  min-inline-size: auto;
  border: 0;
  -ms-flex-item-align: center ;
}

#page-login form .field {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#page-login fieldset #legend3 {
  margin-top: 0.5em;
  text-align: center;
}

#page-login form .field input[id=email] {
  margin-top: 0.5em;
  border-radius: 0 16.6px 0 0;
}
#page-login form .field input[id=password] {
  border-radius: 0 0 0 16.6px;
}

#page-login form hr {
  border: 0.01px solid rgba(255, 255, 255, 0.50);
}

#page-login #redes-sociais {
  display: flex;
  margin-top: 0.3em;
  justify-content: center ;
}

#page-login li {
  display: inline;
  padding: 0em 0.6em 0em 0.6em;
  text-decoration: none;
  font-size: xx-large;
}


#page-login form .field input[type=email],
#page-login form .field input[type=password] {
  flex: 1;
  background: rgba(255, 255, 255, 0.20);
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  color: #ffffff;
}

#page-login form .field input::placeholder {
  color: rgba(255, 255, 255, 0.50);
}

#page-login form .field :disabled {
  cursor: not-allowed;
}


#page-login form button {
  width: 260px;
  height: 56px;
  background: #472A44;
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  align-self: center;
  margin-top: 10px;
  transition: background-color 0.2s;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 7px rgba(50, 50, 50, 0.77);
  box-shadow: 5px 5px 7px rgba(50, 50, 50, 0.77);
}

#page-login form button:hover {
  background: #003F6C;
}

@media(max-width: 900px) {
  #page-login {
    height: 100vh;
    background: url('../../assets/Plano-bolinhas.png') no-repeat bottom;
  }

  #page-login .content {
    max-width: 900px;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
   

    display: grid;
    grid-template-rows: 180px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "logo"
      "form" ;
  }

  #page-login .form-header #arrow svg {
    font-size: 2.5em;
    margin-right: 1.5em;
  }

  #page-login form h1 {
    font-size: large;
    align-self: center;
  }

  .login-logo-container {
    grid-area: logo;
    justify-self: center;
  }

  .login-form{
    grid-area: form;
    justify-self: center;
  }

  .login-logo-container  img {
    width: 200px;
  }

  #page-login form .field input[type=email],
  #page-login form .field input[type=password] {
    background: rgba(255, 255, 255);
    color: #111111;
  }

  #page-login form .field input::placeholder {
    color: #111111;
  }

  #page-login form hr {
    border: 0.01px solid rgba(255, 255, 255, 0.50);
  }

  .login-form h4 {
    color: #ffffff;
  }

  #redes-sociais a {
    color: #ffffff;
  }

}
