#sidebar {
  min-width: 200px;
  max-width: 200px;
  min-height: 100vh;
  text-align: center;
}

#sidebar .sidebar-header {
  padding: 10px;
}

#sidebar ul h3 {
  color: var(--primary-color);
  padding: 10px;
  
}

#sidebar ul li a {
  padding: 5px;
  font-size: 0.9em;
  display: block;
  text-decoration: none;
  color: var(--primary-color)
}
#sidebar ul li a:hover {
  color: var(--text-color);
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
}