/* Sorteios Cards CSS */

.sorteiosPremiado {
  background: #003F6C;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  /* height: 36.8rem; */
  overflow-y: auto;
  margin: 3.2rem 0 0 0;
  transition: all 0.7s ease;
} 

.sorteios {
  background: #AEA8AD;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  /* height: 36.8rem; */
  overflow-y: auto;
  margin: 3.2rem 0 0 0;
  transition: all 0.7s ease;
}

.sorteios .card-sorteio , .sorteiosPremiado .card-sorteio {
  width: 375px;
  height: 162px;
  background: #ffdcdc;
  margin: 20px;
  -webkit-box-shadow: 5px 5px 10px rgba(50, 50, 50, 0.3);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -7px -6px 10px rgba(0, 0, 0, 0.3);
  display: -webkit-inline-box;
  border-radius: 15px;
  cursor: pointer;
}

.sorteios .card-sorteio .card-content, .sorteiosPremiado .card-sorteio .card-content {
  padding: 10px 10px 20px 20px;
}

.sorteios .card-sorteio img, .sorteiosPremiado .card-sorteio img {
  width: 160px;
  height: 162px;
}

.sorteios .card-sorteio .card-content h3, .sorteiosPremiado .card-sorteio .card-content h3 {
  color: #000
}

.sorteios .card-sorteio .card-content li, .sorteiosPremiado .card-sorteio .card-content li {
  margin-top: 8px;
}

.sorteios .card-sorteio .card-content , .sorteiosPremiado .card-sorteio .card-content {
  width: 215px;
}

.sorteios .card-sorteio .card-content .sorteio-link, .sorteiosPremiado .card-sorteio .card-content .sorteio-link {
  background: #CB9B77;
  border-radius: 1.39px;
}

.sorteios ul, .sorteiosPremiado ul {
  list-style-type: none;
}

.sorteios img, .sorteiosPremiado img {
  margin: 0;
  border-radius: 15px 0px 0px 15px;
}