#home {
  height: 92vh;

  background: url('../../assets/UserNav-bolinhas.png') no-repeat bottom;

  .home-header {
    display: flex;
    .burguer {
      display: none;
      cursor: pointer;
    }
    
    .burguer div {
      width: 25px;
      height: 3px;
      background-color: white;
      margin: 5px;
      transition: all 0.3s ease;
    }
  }
  
}