#page-intro {
  height: 100vh;
  background: url("../../assets/Home-bolinhas.png") no-repeat bottom;
  transition: all 0.8s ease;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 7fr;
  grid-template-areas:
    ". nav"
    "logo form";
}

.intro-logo-container img {
  width: auto;
  height: auto;
  max-width: 250px;
  max-height: 182px;
  transition: 0.3s ease;
}

.intro-logo-container {
  display: flex;
  grid-area: logo;
  justify-content: center;
}

a:hover,
li:hover {
  color: var(--primary-color);
  transition: 0.3s ease;
}

#nav {
  grid-area: nav;
}

.navbar {
  margin: 3rem 0 0 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: center;
  text-align: center;
}

#nav li {
  padding: 0.2rem 2rem;
  text-decoration: none;
  font-size: larger;
  cursor: pointer;
}

#page-intro .content {
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
}

/* Transitions */

.formTransition-enter {
  opacity: 0;
}
.formTransition-enter-active {
  opacity: 1;
  transition: opacity 1s;
}
.formTransition-exit {
  opacity: 1;
}
.formTransition-exit-active {
  opacity: 0;
  transition: opacity 1s;
}

@media (max-width: 900px) {
  #page-intro {
    background: url("../../assets/Plano-bolinhas-cadastro.png") no-repeat bottom;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 7fr;
    grid-template-areas:
      "nav"
      "logo"
      "form";
  }

  #nav {
    margin: 0;
    width: 100%;
  }

  #page-intro .content {
    max-width: 900px;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar {
    /* padding-top: 2em; */
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .intro-logo-container img {
    width: 190px;
    margin: 0.7rem;
  }

  .smaller-register img {
    width: 190px;
  }

  .smaller-login img {
    width: 190px;
  }
}
