.buttons {
  display: flex;
  justify-content: flex-end;

  .button {
    min-width: 135.359px;
    height: 51.6px;
    position: absolute;
    padding: 1rem;
    background: rgba(174, 168, 173, 0.58);
    border-radius: 5px 5px 0px 0;
    transition: background 0.7s ease, bottom 0.3s ease;
    
    p {
      display: none;
    }
  }

  .buttonSelected {
    background: #AEA8AD;
    z-index: 5 !important;
    display: flex;
    justify-content: center;
    height: 52.6px !important;
    bottom: 78%;
    pointer-events: none;

    p {
      display: flex;
      color: white;
    }
  }

  .b1 {
    z-index: 4;
    left: 25%;
  }

  .b2 {
    z-index: 3;
    left: 35%;
  }

  .b3 {
    z-index: 2;
    left: 45%;
  }
    
  .b4 {
    z-index: 1;
    left: 67%;
    background: #003F6C;
  }


}