#page-sorteios {
  height: 100vh;

  background: url('../../assets/UserNav-bolinhas.png') no-repeat bottom;
}

#page-sorteios a{
  text-decoration: none;
}

#page-sorteios .bloco {
  display: -webkit-inline-flex;
  width: 100%;
}

#nav .user-navbar {
  width: 100%;
  /*float: left;*/
  padding: 0;
  list-style: none; 
  margin: 1em 0 0 0;
  display: -webkit-inline-flex;
}

#nav .user-navbar .menu {
  padding-top: 12px;
}

#nav .user-navbar img {
  max-width:90px;
  max-height:44.318px;
  width: auto;
  height: auto;
  margin-bottom: 5px;
}

#nav .user-navbar li {
  float: right; 
}

#nav .user-navbar li a {
  display: block;
  padding: 5px 25px;
  text-decoration: none;
  font-size: medium;
  color: var(--primary-color);

  /*font-weight: bold;*/
}

#page-sorteios .content {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  /*padding: 0 30px;

  display: -webkit-inline-flex;*/
}

#page-sorteios .content .buttons {
  display: -webkit-inline-flex;
}

#page-sorteios .content .buttons .buttonSelected {
  width: 220px;
  height: 56px;
  background: #90878C;
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  border-radius: 0 16.6px 0 16.6px;
  align-self: center;
  margin-top: 10px;
  transition: background-color 0.2s;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 7px rgba(50, 50, 50, 0.77);
}

#page-sorteios .content .buttons .button{
  width: 220px;
  height: 56px;
  background: #472A44;
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  border-radius: 0 16.6px 0 16.6px;
  align-self: center;
  margin-top: 10px;
  transition: background-color 0.2s;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 7px rgba(50, 50, 50, 0.77);
}

#page-sorteios .content .buttons .button #premio{
  background: #363C53;
}

@media(max-width: 900px) {
  #page-sorteios .content {
    align-items: center;
    text-align: center;
  }
}

/* SIDENAV CSS */

