$primary-color: #CB9B77;

/* Transitions */

.nav-enter {
  transform: translate(110%);
}
.nav-enter-active {
  transform: translate(0%);
  transition: transform 1.2s;
}
.nav-exit {
  transform: translate(0%);
}
.nav-exit-active {
  transform: translate(110%);
  transition: transform 1s;
}

#nav {
  position: absolute;
  right: 0;
  height: auto;
  background-color: #452642;
  
  flex-direction: column;
  width: 50%;
  
  transition: all 0.5s ease;
  padding: 0 1rem 0 2rem;
  box-shadow: -4px 0 10px  rgba(0, 0, 0, 0.5);
  z-index: 1;

  img {
      width: 87px;
    }

  .sidebar-header {
    display: flex;
    align-items: center;
    
    a,p {
      font-size: smaller;
    }

    li {
      padding: 2px;
    }
    
    .user-profile {
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        padding-right: 5px;
        margin-bottom: 5px;
      }
    }
  }

  ul {
    list-style: none;

    li {
      text-decoration: none;
      padding: 0.6rem 0;
    }

    h3, a, p{
      color: $primary-color;
      text-decoration: none;
      cursor: pointer;
    }

  }

  .active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100vh;
    
    .nav-mini-logo {
      align-self: center;
      margin: 3rem 0;
    }
  } 
}

.not-visible {
  //transform: translate(110%);
  display: none;
}

.visible {
  //transform: translate(0%);
  display: flex;
}