/* Side-Bar CSS */

#sidebar {
  min-width: 200px;
  max-width: 200px;
  min-height: 100vh;
  text-align: center;
}

#sidebar .sidebar-header {
  padding: 10px;
}

#sidebar ul h3 {
  color: var(--primary-color);
  padding: 10px;
}

#sidebar ul li a {
  padding: 5px;
  font-size: 0.9em;
  display: block;
  text-decoration: none;
  color: var(--primary-color)
}
#sidebar ul li a:hover {
  color: var(--text-color);
}

/* Page Sorteios CSS */

#page-sorteios {
  height: 100vh;

  background: url('../../../assets/UserNav-bolinhas.png') no-repeat bottom;
}

#page-sorteios .content {
  margin-left: 30px;
  height: 100%;
  margin: 0 auto;
  display: block;
}

#page-sorteios a {
  text-decoration: none;
}

#page-sorteios .content ul li a:hover {
  color: var(--text-color);
}

#page-sorteios .bloco {
  display: flex;
  width: 100%;
}

.content .menu {
  display: flex;
  justify-content: center;
}

.content

/* User-Navbar CSS*/

#nav .user-navbar {
  width: 100%;
  float: right;
  padding: 0;
  list-style: none; 
  margin: 1em 0 0 0;
  display: -webkit-inline-flex;
}

#nav .user-navbar .menu {
  padding-top: 12px;
}

#nav .user-navbar img {
  max-width:90px;
  max-height:44.318px;
  width: auto;
  height: auto;
  margin-bottom: 5px;
}

#nav .user-navbar li {
  float: right; 
}

#nav .user-navbar li a {
  display: block;
  padding: 5px 25px;
  text-decoration: none;
  font-size: medium;
  color: var(--primary-color);
}

/* Buttons CSS */

#page-sorteios .content .buttons {
  display: inline-flex;
  text-align: center;
}

#page-sorteios .content .buttons a {
  color: #FFF;
} 

#page-sorteios .content .buttons .buttonSelected a {
  color: #FFF;
  font-weight: bold;
} 

#page-sorteios .content .buttons .buttonSelected {
  width: 220px;
  height: 52px;
  background: rgb(205,205,205, 0.40);
  color: #FFF;
  font-size: 16px;
  border: 0;
  border-radius: 0 16.6px 0 0;
  align-self: center;
  margin: 10px 15px 0px 0px;
  padding-top: 18px;
  transition: background-color 0.2s;
  cursor: pointer;
}

#page-sorteios .content .buttons .button {
  width: 220px;
  height: 38px;
  background: #90878C;
  color: #FFF;
  font-size: 16px;
  border: 0;
  border-radius: 0 16.6px 0 16.6px;
  align-self: center;
  margin: 10px 15px 10px 15px;
  padding-top: 18px;
  transition: background-color 0.2s;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 7px rgba(50, 50, 50, 0.77);
  box-shadow: 5px 5px 7px rgba(50, 50, 50, 0.77);
}

#page-sorteios .content .buttons #premio   {
  background: #363C53;
}

#page-sorteios .content .buttons .button:hover {
  background: rgb(144,135,140, 0.40);
}

#page-sorteios .content .buttons #premio:hover {
  background: rgb(54,60,83, 0.70);
}

/* Sorteios Cards CSS */

#page-sorteios .content .sorteiosPremiado {
  background: rgb(54,60,83, 0.80);
  width: 100%;
  overflow-y: auto;
  max-height: 75vh;
  min-height: 75vh;
  box-shadow: 5px 5px 7px rgba(50, 50, 50, 0.77);
  display: -webkit-inline-box
} 

#page-sorteios .content .sorteios {
  background: rgb(205,205,205, 0.40);
  width: 100%;
  overflow-y: auto;
  max-height: 75vh;
  min-height: 75vh;
  box-shadow: 5px 5px 7px rgba(50, 50, 50, 0.77);
  display: inline-block
}

#page-sorteios .content .sorteios .card-sorteio , .sorteiosPremiado .card-sorteio {
  width: 460px;
  height: 162px;
  background: #ffdcdc;
  margin: 20px;
  -webkit-box-shadow: 5px 5px 7px rgba(50, 50, 50, 0.77);
  box-shadow: 5px 5px 7px rgba(50, 50, 50, 0.77);
  display: -webkit-inline-box
}

#page-sorteios .content .sorteios .card-sorteio .card-content, .sorteiosPremiado .card-sorteio .card-content {
  padding: 10px 10px 20px 20px;
}

#page-sorteios .content .sorteios .card-sorteio .card-content h3, .sorteiosPremiado .card-sorteio .card-content h3 {
  color: #000
}

#page-sorteios .content .sorteios .card-sorteio .card-content li, .sorteiosPremiado .card-sorteio .card-content li {
  margin-top: 8px;
}

#page-sorteios .content .sorteios .card-sorteio .card-content .sorteio-diretriz, .sorteiosPremiado .card-sorteio .card-content .sorteio-diretriz, .sorteio-title {
  max-width: 240px;
}

#page-sorteios .content .sorteios .card-sorteio .card-content .sorteio-link, .sorteiosPremiado .card-sorteio .card-content .sorteio-link {
  background: #CB9B77;
  border-radius: 1.39px;
}


#page-sorteios .content .sorteios, .sorteiosPremiado .card-sorteio ul {
  list-style-type: none;
}

.hidden, .mySidebar { display: none; }

@media(max-width: 900px) {
  
  .nav-collapsible { 
    display: grid;
    min-width: 150px;
    max-width: 150px;
    min-height: 100vh;
    text-align: center;

    grid-template-rows: 150px 2fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "avatar info"
      "menu-list"; 
  } 
}