.login-form{
  grid-area: form;
  margin: 0;
  display: flex;
  justify-content: center;
}

.login-form .form-header #arrow svg {
  font-size: 2.5em;
  margin-right: 1em;
}

.form-header {
  display: flex;
  justify-content: flex-start;
}

.login-form form {
  display: flex;
  flex-direction: column;
 
}

.login-form form h1 {
  font-size: 36px;
}

.login-form form fieldset {
  min-inline-size: auto;
  border: 0;
  -ms-flex-item-align: center ;
}

.login-form form .field {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.login-form fieldset #legend3 {
  margin-top: 0.5em;
  text-align: center;
}

.login-form form .field input[id=email] {
  margin-top: 0.5em;
  border-radius: 0 16.6px 0 0;
}
.login-form form .field input[id=password] {
  border-radius: 0 0 0 16.6px;
}

.login-form form hr {
  border: 0.01px solid rgba(255, 255, 255, 0.50);
}

.login-form #redes-sociais {
  display: flex;
  margin-top: 0.3em;
  justify-content: center ;
}

.login-form li {
  display: inline;
  padding: 0em 0.6em 0em 0.6em;
  text-decoration: none;
  font-size: xx-large;
}


.login-form form .field input[type=email],
.login-form form .field input[type=password] {
  flex: 1;
  background: rgba(255, 255, 255, 0.20);
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  color: #ffffff;
}

.login-form form .field input::placeholder {
  color: rgba(255, 255, 255, 0.50);
}

.login-form form .field :disabled {
  cursor: not-allowed;
}


.login-form form button {
  width: 260px;
  height: 56px;
  background: #472A44;
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  align-self: center;
  margin-top: 10px;
  transition: background-color 0.2s;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 7px rgba(50, 50, 50, 0.77);
  box-shadow: 5px 5px 7px rgba(50, 50, 50, 0.77);
}

.login-form form button:hover {
  background: #003F6C;
}

@media(max-width: 900px) {
  .login-form .form-header #arrow svg {
    font-size: 2.5em;
    margin-right: 1.5em;
  }

  .login-form form h1 {
    font-size: large;
    align-self: center;
  }

  .login-form{
    grid-area: form;
    justify-self: center;
    margin: 0;
  }

  .login-form form .field input[type=email],
  .login-form form .field input[type=password] {
    background: rgba(255, 255, 255);
    color: #111111;
  }

  .login-form form .field input::placeholder {
    color: #111111;
  }

  .login-form form hr {
    border: 0.01px solid rgba(255, 255, 255, 0.50);
  }

  .login-form h4 {
    color: #ffffff;
  }

  #redes-sociais a {
    color: #ffffff;
  }

}
